<h2>Available Games <small>Global War</small></h2>

<% unless @games.empty? %>
  <h3>Games</h3>
  <% @games.each do |game| %>
    <div class="jumbotron">
      <h4><%= game.name %> <small>by: <%= game.owner.email %></h4>
      <div class="row">
        <div class="col-lg-6">
          <strong>Players</strong>
          <ol>
            <% game.users.each do |user| %>
               <li><%= user.email %></li>
            <% end %>
          </ol>
        </div>
        <div class="col-lg-6">
          <% if current_user.in_game? game %>
            <p><%= link_to "Leave", game_leave_path(game), method: :post %></p>
          <% else %>
            <p><%= link_to "Join", game_join_path(game), method: :post %></p>
          <% end %>
          <% if current_user.is_owner? game %>
            <%= link_to 'Delete Game', game, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<hr>

<h4>Create new game</h4>
<%= bootstrap_form_for(@game, layout: :inline) do |f| %>
  <%= f.text_field :name, hide_label: true %>
  <%= f.primary %>
<% end %>
